 <%= form_tag(organization_search_path, method: :get) do %>
  <div>
    <%= search_field_tag(:search, params[:search], placeholder: "Search") %>
    <div>
      <%= button_tag('Search', name: nil) %>
    </div>
  </div>

  <% Organization.sort_attributes.each do |attribute_name| %>
  <div class="checkbox">
    <%= check_box_tag("fields[#{attribute_name}]", true, params['fields']&.include?(attribute_name)) %>
    <%= attribute_name %>
  </div>
  <% end %>

  <% if @results %>
    <h3>Search Results (<%= @results.size %>)</h3>

    <table>
      <tbody>
        <% @results.each do |result| %>
        <tr>
          <td><%= link_to("#{result.name_field}", result, class: 'result') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
